@model Languages.Classes.Translations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Translations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnglishWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpanishWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpanishWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GermanWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GermanWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItalianWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItalianWord)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
